<!doctype html>
<html lang="pt-br">

<%- include('partials/header.ejs'); %>

<body>
    
    <%- include('partials/navbar-guest.ejs'); %>

    <div class="container">

        <div class="d-flex justify-content-center">
            <h1 class="mt-4">Artigos</h1>
        </div>
        
        <hr>

        <div class="articles">
            <div class="card">
                <div class="card-header">
                    <h4>Título</h4>
                </div>
                
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum explicabo est dolores culpa sunt debitis, iste quibusdam enim, ullam, tempora illo veritatis! Nostrum tempora molestiae accusantium, sapiente molestias perferendis nemo!
                </div>
                
                <div class="card-footer d-flex justify-content-center">
                    Postado em 8-06-2021
                </div>
            </div>
            <!-- /Card  -->
            <div class="card">
                <div class="card-header">
                    <h4>Título</h4>
                </div>
                
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum explicabo est dolores culpa sunt debitis, iste quibusdam enim, ullam, tempora illo veritatis! Nostrum tempora molestiae accusantium, sapiente molestias perferendis nemo!
                </div>
                
                <div class="card-footer d-flex justify-content-center">
                    Postado em 8-06-2021
                </div>
            </div>
            <!-- /Card  -->
            <div class="card">
                <div class="card-header">
                    <h4>Título</h4>
                </div>
                
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum explicabo est dolores culpa sunt debitis, iste quibusdam enim, ullam, tempora illo veritatis! Nostrum tempora molestiae accusantium, sapiente molestias perferendis nemo!
                </div>
                
                <div class="card-footer d-flex justify-content-center">
                    Postado em 8-06-2021
                </div>
            </div>
            <!-- /Card  -->
        </div>
        <!-- /Articles -->
    </div>

    <%- include('partials/scripts.ejs'); %>

</body>
</html>