<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/header.ejs'); %>

<body>
    
    <%- include('partials/navbar-guest.ejs'); %>

    <div class="d-flex justify-content-center">
        <h1 class="mt-4">Cadastrar</h1>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="form mt-4">

            <form action="" method="POST">
                <div class="mb-3">
                    <label for="name-field" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="name" id="name-field">
                </div>
                <div class="mb-3">
                    <label for="email-field" class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email-field">
                </div>
                <div class="mb-3">
                    <label for="password-field" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="password" id="password-field">
                </div>
                <div class="mb-3">
                    <label for="passwordConfirm-field" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm-field">
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <a href="/login">Entrar</a>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        
        </div>
        <!-- /Form  -->
    </div>

    <%- include('partials/scripts.ejs'); %>

</body>
</html>